<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite">
	<listeners>
		<listener class-name="main.java.config.SuiteListener"></listener>
	</listeners>
	<test name="[Nombre Proyecto]">
	<parameter name="browserName" value="chrome" />
		<classes>
			<class name="test.java.main.GoogleTests"></class>
		</classes>
	</test>
</suite>